* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

:root {
    --font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
    --font-wt-normal: 500;
    --font-wt-bold: 600;

    --card-padding: 3em;

    --purple: hsl(263, 55%, 52%);
    --medium-gray: hsl(217, 19%, 35%);
    --black: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);   

    --light-gray: hsla(0, 0%, 100%, 0.5);
    --light-text: hsla(0, 0%, 100%, 0.7);
    --dark-gray: hsla(219, 29%, 14%, 0.5);
    --dark-text:  hsl(219, 29%, 14%, 0.7);
   
    --shadow: hsl(0, 0%, 81%);
    --body-bg: hsl(210, 46%, 95%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--font-wt-normal);
    font-size: 0.8125rem;
    background-color: var(--body-bg);
}

h2 {
    font-size: 1.6rem;
    font-weight: var(--font-wt-bold);
}

p {
    font-size: 1rem;    
}

.screenreader-only {
    width: 0;
    height: 0;
    overflow: hidden;
}

.wrapper {
    margin-block: 2em;
}

.grid-container {
    max-width: 90vw;
    display: grid;    
    gap: 2em; 
}

.card {
    display: grid;
    align-content: start;
    gap: 1.3em;
    padding: var(--card-padding);
    border-radius: 0.8em;
    color: var(--white);
    box-shadow: 10px 10px 10px var(--shadow);
}

.heading-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.testimonial-headshot {
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
}

.verified-grad {
    color: var(--light-gray);
}

.light .verified-grad {
    color: var(--dark-gray);
}

.card q {
    color: var(--light-text);
    line-height: 1.3;
    font-size: 1rem;
}

.light q {
    color: var(--dark-text);
}

.purple {
    background-color: var(--purple);   
    background-image: url("images/bg-pattern-quotation.svg");
    background-position: top right var(--card-padding);
    background-repeat: no-repeat;     
    background-size: 10em;
}

.dark {
    background-color: var(--medium-gray);   
}

.very-dark {
    background-color: var(--black);
}

.light {
    background-color: var(--white);
    color: var(--black);
      
}

.attribution {
    font-size: 0.7rem; 
    text-align: center;
    margin-top: 1em;
}

.attribution a {
    color: var(--purple);
}

@media (min-width:1000px) {

    .grid-container {  
        max-width: 100em;     
        grid-template-columns: repeat(4, 1fr);   
    }

    .grid-pos-1 {
        grid-row: 1 ;
        grid-column: 1 / span 2;
    }

    .grid-pos-2 {
        grid-row: 1;
        grid-column: 3;
    }

    .grid-pos-4 {
        grid-row: 2;
        grid-column: 1;
    }

    .grid-pos-5 {
        grid-row: 2;
        grid-column: 2 / span 2;
    }

    .grid-pos-3 {
        grid-row: 1 / span 2;
        grid-column: 4;
    }

    .purple-bg {
        background-position: top right 5.5em;
    }

}

